@{
    ViewData["Title"] = "Current Tasks";
}

@model List<ApplicationResponse>

<div class="text-center">
    <h1 class="display-4">Current Tasks</h1>
</div>
<br />

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th class="text-center">Urgent</th>
                <th class="text-center">Not Urgent</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-center">Important</th>
                <td>
                    @foreach (var i in Model)
                    {
                        if (i.Completed == false && i.Quadrant == 1)
                        {
                            <p>

                                @i.Category.CatName: @i.task    (@i.DueDate)
                                <a class="small-text" asp-controller="Home" asp-action="Completed" asp-route-id="@i.taskId">COMPLETED</a>
                                <a class="small-text" asp-controller="Home" asp-action="Edit" asp-route-id="@i.taskId">Edit</a>
                                <a class="small-text" asp-controller="Home" asp-action="Delete" asp-route-id="@i.taskId">Delete</a>
                            </p>
                        }
                    }
                </td>

                <td>
                    @foreach (var i in Model)
                    {
                        if (i.Completed == false && i.Quadrant == 2)
                        {
                            <p>

                                @i.Category.CatName: @i.task    (@i.DueDate)
                                <a class="small-text" asp-controller="Home" asp-action="Completed" asp-route-id="@i.taskId">COMPLETED</a>
                                <a class="small-text" asp-controller="Home" asp-action="Edit" asp-route-id="@i.taskId">Edit</a>
                                <a class="small-text" asp-controller="Home" asp-action="Delete" asp-route-id="@i.taskId">Delete</a>
                            </p>
                        }
                    }
                </td>
                </tr>
            <tr>
                <th class="text-center">Not Important</th>
                <td>
                    @foreach (var i in Model)
                    {
                        if (i.Completed == false && i.Quadrant == 3)
                        {
                            <p>

                                @i.Category.CatName: @i.task    (@i.DueDate)
                                <a class="small-text" asp-controller="Home" asp-action="Completed" asp-route-id="@i.taskId">COMPLETED</a>
                                <a class="small-text" asp-controller="Home" asp-action="Edit" asp-route-id="@i.taskId">Edit</a>
                                <a class="small-text" asp-controller="Home" asp-action="Delete" asp-route-id="@i.taskId">Delete</a>
                            </p>
                        }
                    }
                </td>
                <td>
                    @foreach (var i in Model)
                    {
                        if (i.Completed == false && i.Quadrant == 4)
                        {
                            <p>

                                @i.Category.CatName: @i.task    (@i.DueDate)
                                <a class="small-text" asp-controller="Home" asp-action="Completed" asp-route-id="@i.taskId">COMPLETED</a>
                                <a class="small-text" asp-controller="Home" asp-action="Edit" asp-route-id="@i.taskId">Edit</a>
                                <a class="small-text" asp-controller="Home" asp-action="Delete" asp-route-id="@i.taskId">Delete</a>
                            </p>
                        }
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>

<br /><br />

<div>
    <table class="table-bordered">
        <thead>
            <tr>
                <th class="text-center">&emsp;&emsp;Completed Tasks&emsp;&emsp;</th>
                <th class="text-center">&emsp;&emsp;Date&emsp;&emsp;</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var x in Model)
            {
                if (x.Completed == true)
                {
                    <tr class="text-center">
                        <td>@x.task</td>
                        <td>@x.DueDate</td>
                        <td>
                            <a class="small-text" asp-controller="Home" asp-action="Edit" asp-route-id="@x.taskId">Edit</a>
                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>
</div>

<br />
<br />



